.chat-window-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.chat-header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border-radius: 20px;
    padding: 0 20px;
    z-index: 5;
    outline: 1px solid rgb(69, 59, 100);
}
.chat-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.user-name{
    font-weight: bold;
    font-size: 19px;
}
.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 10px;
}
.chat-footer-input{
    width: calc(100% - 60px);
    display: flex;
    align-items:center;
    border-radius: 25px;
    height: 50px;
    background-color: white;
}
.msg-input{
    display: flex;
    flex: 1;
    width: 100%;
    margin: 5px;
    outline: 0;
    border: 0;
    background-color: transparent;
}
.chat-footer-right{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #3CC6B7;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.chat-footer-right:hover{
    transform: scale(1.2) rotatez(-20deg);
    background-color: #41d6c5;
}
.emoji-button{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    transition: all 0.2s ease;
    color: #4D426D;
    cursor: pointer;
}
.emoji-button:hover{
    transform: scale(1.2);
}
.chat-emoji-container{
    overflow: hidden;
    transition: all 0.2s ease;
}
aside.emoji-picker-react{
    width: 100% !important;
    border-radius: 20px !important;
    box-shadow: none !important; 
    outline: 0 !important;
    border: 0 !important;
}
.chat-body{
    overflow-y: auto;
    flex:1;
    padding: 20px 30px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255, 0.1) transparent;
}
.chat-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.chat-body::-webkit-scrollbar-thumb {
    background: #3a3253 ;
    border: 0px none #564b79 ;
    border-radius: 50px;
}