* {
  box-sizing: border-box;
}

body{
  background-color: #4D426D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: white;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #4D426D;
}

.sidebar{
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 20px;
  margin: 20px;
}

.header{
  height:  80px;
  display: flex;
  border-radius: 20px;
  background-color: #5c4f82;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 10px;
}
.icon-button{
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
}

.search{
  height:  50px;
  min-height: 50px;
  display: flex;
  border-radius: 20px;
  background-color: #5c4f82;
  align-items: center;
  padding: 0 10px;
  margin: 20px 0;
}
.search-input{
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
  margin-left: 5px;
}
.search-input::-webkit-search-cancel-button{
  color: white !important;
  cursor: pointer;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-image: url("https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=close");
  background-size: cover;
}

.search-input::placeholder{
  color: white;
  opacity: 0.75;
}

.chat-list{
  flex: 1;
  background-color: #5c4f82;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
  scrollbar-color: #81779D #5c4f82;
  scrollbar-width: none;
}
.chat-list::-webkit-scrollbar{
  width:6px;
  height: 6px;
}
.chat-list::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.rounded-container{

}
.content{
  width: 100%;
  margin: 20px 0px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #5c4f82;
}
.header-icon{
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.header-icon:hover{
  transform: scale(1.2);
}